<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route id="accounting" frontName="accounting">
			<module name="ECInternet_Sage300Account" before="Magento_Backend" />
		</route>
		<route id="myaccountuomswitcher" frontName="myaccountuomswitcher">
			<module name="ECInternet_Sage300Account" before="Magento_Backend" />
		</route>
	</router>
</config>
